
.SearchbarContainer > * {
    color: black;
}
.SearchQuery {
padding-left: 1vw;
padding-top: 1vh;
}

.SearchText, .SubmitButton {
height: 3vh;
}
.SearchQ {
    border: 0px;
    width: 100%;
}

.SearchQ:focus {
    outline: none;
}
.fa-utensils {
    color: white;
}

.SubmitButton {
    border: none;
    background: #Ea646a;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.SubmitButton:hover, .SubmitButton:focus {
    background: #F1b5b9;

}


