

.loginButtonContainer {
    padding-top: 10px;
    text-align: center;
}

.profile_container {
    position: absolute;
    margin-top: 5vh;
    background: white;
    border: solid white 1px;
    border-radius: 2px;
    text-align:right; 
    font-size: medium;
}

.profile-dropdown > li {
    list-style-type: none;
    padding: 1px;
    line-height: normal;
}

.loginButton {
  background-color: transparent;
  border: 2px white solid;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition: 0.3s;
  cursor: pointer;
}

.loginButton:hover {
     background-color: white;
  color: black;
}

.logoutButton {
  background-color: transparent;
  border: none;
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition: 0.3s;
  cursor: pointer;
  min-width: 100%;
}

.logoutButton:hover {
     background-color: black;
  color: white;
}


.modal_container {
    height: 35vh;
    background: white;
    border-radius: 10px;
    padding: 1vh 2vw;
    margin: 0 auto;
}

/* food */
.\30 {
    height: 37rem;
    background: white;
    border-radius: 10px;
    padding: 1vh 2vw;
    margin: 0 auto;
}

/* checkin */
.\32 {
    height: 27rem;
    background: white;
    border-radius: 10px;
    padding: 1vh 2vw;
    margin: 0 auto;
}

/* restaurant */
.\31 {
    height: 33rem;
    background: white;
    border-radius: 10px;
    padding: 1vh 2vw;
    margin: 0 auto;
}

.editCheckin_container {
    height: 25rem;
    background: white;
    border-radius: 10px;
    padding: 1vh 2vw;
    margin: 0 auto;
}

.signup_container {
    height: 38vh;
    background: white;
    border-radius: 10px;
    padding: 1vh 2vw;
    margin: 0 auto;
}

.modal_logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1vh;
}

.validationErrors > ul {
    color: red;
    list-style: none;
    margin-bottom: 1rem;
}

.modal_logo > img {
    width: 25vh;
}

.modal_errors {
    padding: 1vh 0vw 1vh 3vw;
}

.modal_username, .modal_password {
    border: solid 1px;
    border-radius: 2px;
    line-height: 1;
    margin-bottom: 1vh;
    padding: 6px 8px 6px 8px;
}

.fa-user, .fa-key {
    padding-right: 2px;
}

.fa-user > input, .fa-key > input{
    border: none;
    width: 300px;
    padding-left: 5px;
}

.modal_username > label > input {
    border: none;
    width: 400px;
    padding-left: 10px;
}

.modal_password > label > input {
    border: none;
    width: 200px;
    padding-left: 15px;
}

.modal_username > label > input:focus {
    outline:none;
}


.modal_password > label > input:focus {
    outline:none;
}


.fa-user > input:focus, .fa-key > input:focus {
    outline:none;
}
.modal_submit {
    margin: 0 auto;
    text-align: center;
}

.modal_submit > button {
  background-color: #706867;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.checkin_delete {
    margin: 0.5rem 0 0 0;
    text-align: center;
}

.checkin_delete  > button {
  background-color: #Ea646a;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.buttonRow {
    display: flex;
    gap: 1rem;
  justify-content: center;
  align-items: center;
}

.postNewButton {
    color: #Ea646a;
}

.postNewButton {
    color: white;
    background-color: #ba474d;
}

.loginButton:hover {
     background-color: white;
     color: black;
}

h2 > span {
    color: #Ea646a;
}

h2 {
    padding-bottom: 2vh;
}

.checkin_first {
    display: flex;
    gap: 1rem;
    margin: 0.5rem 0 0.5rem 0;
}

.checkin_first > button {
    padding: 0.5rem;
}

.checkin_first > textarea, .food_first > textarea {
    width: 100%;
    height: 8rem;
    padding: 0.5rem;
}

.checkinComment {
    color: white;

}

.checkinCommentFirst {
    color: #B4EB7C;
}

.editFormContainer {
    margin: 1rem;
}

#foodName {
    color: #EB9871;
}

#restaurantName {
    font-weight:bolder
}

.food_first {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
}

.food_first > input {
    width: 100%;
    padding: 0.5rem;
}

.singleCheckinButton {
  background-color: #66C0CE;
  border: 2px white solid;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition: 0.3s;
  cursor: pointer;
}

.singleCheckinButton:hover {
    background-color: white;
    color: black;
}

.singleCheckinEdit {
    border: 0.5px white solid;
    background-color: #544948;
  color: #FFFFFF;
  border-radius: 2em;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  transition: 0.3s;
  cursor: pointer;
}

.singleCheckinEdit:hover {
    background-color: #736d6d;
}