

.loginButtonContainer {
    padding-top: 10px;
    text-align: center;
}

.loginButton {
  background-color: transparent;
  border: 2px white solid;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition: 0.3s;
  cursor: pointer;
}

.loginButton:hover {
     background-color: white;
  color: black;
}

.LoginContainer {
    height: 50vh;
    background: white;
}
